name: main file

on: [push]

jobs:
  job1:
    uses: Shiv-Ranjani/GITActions/.github/workflows/helloworld.yaml@main
  job2:
    runs-on: ubuntu-latest
    steps: 
      - name: create string
        run: |
          MY_STRING="hello world"
          echo "::set-output name=content::$MY_STRING"
          id: my_string
      - name: display string
        run: |
          echo "The string is: ${{ steps.my_string.outputs.content }}"

    
    
  
 
    

