name: CI
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Send email
      uses: devellany/send-mail@v1.0.2
      with:
          host: smtp.naver.com
          account: shivranjaniaws@gmail.com
          password: Miracleinlife@27
          sender: shivranjani
          from: shivranjaniaws@gmail.com
          subject: Github Actions job result
          body: new message
          to: shivranjani.b@gmail.com
